NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://neondb_ownerd9.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require


DATABASE_URL_UNPOOLED=poech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=change_me_to_a_long_random_string_in_production
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
